
div{
    margin: 10px;
}

#sout{
    background-image: url(./images.jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 0;
}

body{
    color: white;
}

p{
    font-size: xx-small;
}


#tbili{
    background-image: url(./download\ \(2\).jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#ny{
    background-image: url(./download.jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#paris{
    background-image: url(./download\ \(1\).jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#tokyo{
    background-image: url(./download\ \(3\).jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#dubai{
    background-image: url(./images\ \(2\).jpeg);
    background-repeat: 1;
    width: 300px;
    height: 160px;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#parent{
    display: flex;
    flex-wrap: wrap;
}