body{
    
    background-image: url(./images.jpeg);

}

div{
    width: 550px;
    height: 500px;
    background-color: white;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 35px;
}

input{
    width: 430px;
    height: 35px;
    border: 1px solid gainsboro; 
    border-radius: 3px;
}

/* input[type = "checkbox"]{
    width: 15px;
    width: 15px;

} */

button{
    width: 437px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    background-color: aquamarine;
}

b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}