@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


#p1{
    font-family:"Playfair Display",sans-serif;
    text-shadow: 6px -5px 3px;
    color: rgb(255, 25, 30);
}

#p2{
    font-family: "Archivo Black",sans-serif;
    text-shadow: -8px 7px 5px;
    color: rgb(0, 255, 50);
}

#p3{
    font-family: "Fjalla One", sans-serif;
    text-shadow: 10px 4px 3px;
    color: #FF00AA;
}

#p4{
    font-family: "Pacifico",sans-serif;
    text-shadow: 2px 5px 8px;
    color: #AABBFF;
}

#p5{
    font-family: "Josefin Sans",sans-serif;
    text-shadow: -6px 5px 12px;
    color: rgb(10, 55, 150);
}

#p6{
    font-family: "Lilex",sans-serif;
    text-shadow: 13px -2px 2px;
    color: #551F67;
}

#p7{
    font-family: "Heebo",sans-serif;
    text-shadow: 4px -5px 7px;
    color: #F6C0AA;
}