#p1{
    color: rgb(255, 0, 0);
}

#p2{
    color: rgb(0, 255, 0);
}

#p3{
    color: rgb(0, 0, 255);
}

body{
    color: rgb(0, 255, 0);
    font-family: cursive;
    background-color: rgb(15, 15, 15);
}

button{
    background-color: rgb(0, 255, 0);
}