#parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 350px;
    height: 140px;
}

.alpha{
    background-color: #444444;
    border-radius: 6px;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#A{
    grid-column: 2/3;
    
}

#B{
    grid-row: 2/3;
    grid-column: 2/3;
}

#C{
    grid-row: 2/3;
    grid-column: 3/4;
}

#D{
    grid-column: 1/2;
    grid-row: 1/2;
}

#F{
    grid-column: 3/4;
    grid-row: 1/2;
}

#E{
    grid-column:1/2;
    grid-row: 2/3;
}


*{
    padding:0;
    margin: 0;
}

#parent1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    width: 400px;
    height: 270px;
}


#E1{
    grid-column: 1/3;
}



#C1{
    width:140px;
}

#D1{
    width: 250px;
}

#A1{
    width: 195px;
}
#B1{
    width: 195px;
}

.alpha1{
    background-color: #444444;
    border-radius: 6px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}

