

body{
    background-color: #3E3E3E
}

h1{
    color: #BBBBBB;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


input{
    background-color:transparent;
    width: 500px;
    height: 35px;
    border: 2px solid #BBBBBB;
    border-radius: 4px;
}

input:hover{
    background-color: #353535;
    width: 500px;
    height: 35px;
    border: 2px solid #969595;
    border-radius: 4px;
    transition: 0.250s;
}

button{
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #BAC777;
    border: 0px;
    color: #FFFFFF;
    width: 510px;
    height: 45px;
}

button:hover{
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #a4b065;
    border: 0px;
    color: #e0dfdf;
    width: 510px;
    height: 45px;
    transition: 0.255s;
}


button:active{
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #788245;
    border: 0px;
    color: #f1f0f0;
    width: 510px;
    height: 45px;
    transition: 0.255s;
}
