@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



#main{
    background-color: white;
    width: 225px;
    height: 330px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

img{
    width: 220px;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#parent{
    display: flex;
}

h2{
    margin: 0;
    padding: 0;
}

#parentparent{
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main1{
    margin: 10px;
    margin-left: 20px;
}

h6{
    color:  hsl(228, 6%, 54%);
    font-family: "Montserrat", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

h3{
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: small;
    text-decoration: line-through;
    color: hsl(228, 6%, 54%);
}

h1{
    color: hsl(158, 36%, 37%);
}

#price{
    display: flex;
    gap: 8px;
}

#button{
    width: 190px;
    height: 33px;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
}

#cart{
    width: 17px;
    height: 17px;
}

#button:hover{
    background-color: hsl(158, 42%, 18%);
    transition: 0.25s;
}