
body{
    background-color: rgb(23, 166, 255);
}

h2{
    color: #5bacf8;
    padding-right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    width: 500px;
    height: 300px;
    background-color: #FFFFFF;
}

input{
    width: 300px;
    height: 30px;
}

button{
    width: 310px;
    height: 40px;
    background-color: rgb(69, 166, 241);
    border: 0px;
    color: #FFFFFF;
}
