
input{
    height: 30px;
    width: 600px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

label{
    margin-right: 44%;
    
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #32b932;
    border: 0px;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
}