*{
    margin: 0;
    padding: 0;
}

#parent{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #FFF;
  display: flex;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 50%;
  padding: 60px;
  background: #fff7f7;
  height: 370px;
}



h1 {
  font-size: 48px;
}

h1 span {
  color: #dd9b9b;
  font-weight: normal;
}

p {
  color: #999;
  font-size: 14px;
  margin: 25px 0;
}


#email {
  display: flex;
  width: 350px;
}

#email input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
}


button{
  border: none;
  background-color: #EF9E9E;
  color: white;
  width: 50px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

#woman{
  width: 340px;
  height: 70%;
}